body {
    color: green;
}
h1 {
    font-size: 40px;
    text-aling: left;
    colot: blue;
}
th {
    backround-color: green;
    font-weight: bold;
    text-aling: center;
}
td {
    padding: 6px;
    border: 1px dashed gray;
    text-aling: center;
}
footer a {
    text-decoration: none;
    color: blue;
}
footer a:hover {
    color: darkred;
}

